@{
    ViewBag.Title = "About This Demo";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This is a demo site which contains example usages of SignalR (via OWIN), Bootstrap 3.3 with a custom async tooltip, and 2014 Q3 Kendo UI controls.  The underlying server technology is ASP.NET MVC5.
    </p>

    <p>
        This code used to produce this site is a Visual Studio solution available, in its entirety, on GitHub here: <a href="https://github.com/dkemper01/signalr-bootstrap3-kendo-mvc5">https://github.com/dkemper01/signalr-bootstrap3-kendo-mvc5</a>.
    </p>
</article>

<aside>
    @*<h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>*@
</aside>