@{
    ViewBag.Title = "SignalR, Bootstrap, AngularJS and Kendo UI Web Together at Last.";
}

<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            <h3 class="title">Current Edits</h3>
            <div class="console"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="well text-center">
            <h3>Person Data</h3>
            <div id="person-grid"></div>
        </div>
    </div>
</div>